In [1]:
my_str='Python'

In [2]:
# my_str[index]

In [6]:
# my_str[2]

In [8]:
my_str='Python' #[0,1,2,3,4,5]
for i in my_str: 
    print(i)

P
y
t
h
o
n

In [11]:
for i in range(6):
    print(i,my_str[i])

0 P
1 y
2 t
3 h
4 o
5 n

In [12]:
len(my_str)

6

In [14]:
for i in range(len(my_str)):
    print(i,my_str[i])

0 P
1 y
2 t
3 h
4 o
5 n

In [15]:
for i in my_str:
    print(i)

P
y
t
h
o
n

In [21]:
my_str='Python' # [-1,-2,-3,-4,-5,-6] -7

for i in range(-1,-7,-1):
    print(i,my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [25]:
for i in range(-1,-len(my_str)-1,-1):
    print(i,my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [27]:
# Count the number of characters in the following string using loop

c=0
my_str='This is Python class'

for i in my_str:
    c+=1
print(c)

20

In [31]:
# Print all the characters that are availabe at the odd indxees

my_str='This is Python class'

for i in range(len(my_str)):
    if i%2!=0:
        print(i,my_str[i])

1 h
3 s
5 i
7
9 y
11 h
13 n
15 c
17 a
19 s

In [32]:
# Split all the words from the following string using loop
# Output-['This', 'is', 'Python', 'class']

my_str='This is Python class'
my_str.split()

['This', 'is', 'Python', 'class']

In [97]:
my_str='This is Python class'
lst=[]
t=''
for i in my_str:
    if i!=' ':
        t+=i
    else:
        lst.append(t)
        t=''
# print(lst)
# print(t)
lst.append(t)
print(lst)

['This', 'is', 'Python', 'class']

In [38]:
t=''
i='a'
t=t+i
print(t)
i='b'
t=t+i
print(t)

a
ab

In [39]:
t=''
i='a'
t+=i

print(t)
i='b'
t+=i
print(t)

a
ab

In [65]:
t=''
type(t)

str

In [66]:
i='T'
type(t)

str

In [67]:
t=t+i
t

'T'

In [68]:
i='h'
i

'h'

In [69]:
t=t+i # t+=i
t

'Th'

In [70]:
'T'+'h'

'Th'

In [71]:
i='i'
i

'i'

In [72]:
t=t+i
t

'Thi'

In [73]:
'Th'+'i'

'Thi'

In [74]:
i='s'
i

's'

In [75]:
t=t+i
t

'This'

In [76]:
'Thi'+'s'

'This'

In [77]:
i=' '
i

' '

In [78]:
lst=[]
lst.append(t)

In [79]:
lst

['This']

In [80]:
i='i'

In [83]:
t=''

In [85]:
t=t+i
t

'i'

In [86]:
i='s'
i

's'

In [87]:
t=t+i
t

'is'

In [88]:
i=' '

In [89]:
lst.append(t)

In [90]:
lst

['This', 'is']

In [119]:
my_str='This is Python class'
# Output- ['class','Python','is','This']

# Approach- Convert to list and reverse the list

lst=[]
t=''

for i in my_str:
    if i!=' ':
        t+=i
    else:
        lst.append(t)
        t=''
lst.append(t)
print(lst)

res=[]

for i in range(len(lst)-1,-1,-1):
    res.append(lst[i])
print(res)

['This', 'is', 'Python', 'class']
['class', 'Python', 'is', 'This']

In [112]:
lst=['This', 'is', 'Python', 'class'] # [0,1,2,3], Reverse index- [3,2,1,0] -1
res=[]

for i in range(len(lst)-1,-1,-1):
    res.append(lst[i])
print(res)

['class', 'Python', 'is', 'This']

In [109]:
len(lst)-1

3

In [134]:
# my_str='This is Python class'
# # Output- ['class','Python','is','This']

# # Approach- Convert to list and reverse the list

# lst=[]
# t=''

# for i in my_str:
#     if i!=' ':
#         t+=i
#     else:
#         lst=[t]+lst
#         t=''
# lst=[t]+lst
# print(lst)

In [128]:
my_str='This is Python class'
# Output- 'class Python is This'

# Approach- Convert into list and reverse the list and convert into string

lst=[]
t=''


for i in my_str:
    if i!=' ':
        t+=i
    else:
        lst.append(t)
        t=''
lst.append(t)
lst

['This', 'is', 'Python', 'class']

In [133]:
res=''

for i in range(len(lst)-1,-1,-1):
    res=res+lst[i]+' '

res=res.strip()
print(res,type(res))
res

class Python is This <class 'str'>

'class Python is This'

In [130]:
# lst=[]
# t='This'
# lst[]

In [144]:
a='      Python'
a

'      Python'

In [145]:
a=a.strip()
a

'Python'

In [146]:
a

'Python'

In [ ]:
# for loop- Iterable

# while loop
- while loop is used when we don't know the number of iterations or we want to execute some code infinite times.
- while loop can be used without iterables

# components

- Counter intialisation
- Condition
- Increment or decrement

In [ ]:
counter intialisation

while condition:
    code
    code
    increment or decrement

In [147]:
# print Hello 5 times using while loop

In [148]:
for i in range(5):
    print('Hello')

Hello
Hello
Hello
Hello
Hello

In [149]:
i=1 # counter intialisation

while i<=5: # Condition
    print('Hello')
    i+=1 # Increment

Hello
Hello
Hello
Hello
Hello

In [1]:
# i=1

# while i<=5:
#     print('Hello')
#     print(i)

In [1]:
# i=1 # counter intialisation

# while i<=5: # Condition
#     print('Hello')
#     i-=1

In [21]:
# Reverse the following string using while loop

my_str='Python' #Reverse indexes [5,4,3,2,1,0] or [-1,-2,-3,-4,-5,-6]

start=5
stop=0

while start>=stop:
    print(start,my_str[start])
    start-=1

5 n
4 o
3 h
2 t
1 y
0 P

In [11]:
i=-1

while i>=-6:
    print(i,my_str[i])
    i-=1

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [23]:
my_str='Python' #[5,4,3,2,1,0]

i=len(my_str)-1
print(i)

while i>=0:
    print(i,my_str[i])
    i-=1

5
5 n
4 o
3 h
2 t
1 y
0 P

In [1]:
my_str='Python' # [-1,-2,-3,-4,-5,-6]

i=-1

while i>=-len(my_str):
    print(my_str[i])
    i-=1

n
o
h
t
y
P

In [34]:
lst=[10,20,30,40,50,60,70,80]
# Print every alternate element in the reverse order using while loop
# Output- [80,60,40,20]

i=len(lst)-1

while i >=0:
    print(i,lst[i])
    i=i-2

7 80
5 60
3 40
1 20

# while True

- while True is always True so it executes the code infinite times until we break (terminate) it.
- break statement is used to terminate the while True loop

In [35]:
user_name='Vaishali'

name=input('Enter your name- ')

while True:    
    if name==user_name:
        print(f'Hello {name}')
        print('You have successfully logged in.')
        break
    else:
        print('Invalid name')
        name=input('Enter your name again- ')

Enter your name- Sairam
Invalid name
Enter your name again- Purvi
Invalid name
Enter your name again- Asrar
Invalid name
Enter your name again- Diwaker
Invalid name
Enter your name again- Ashish Som
Invalid name
Enter your name again- Vaishali
Hello Vaishali
You have successfully logged in.

In [36]:
user_name='Vaishali'

while True:    
    
    name=input('Enter your name- ')
    
    if name==user_name:
        print(f'Hello {name}')
        print('You have successfully logged in.')
        break
    else:
        print('Invalid name')
        name=input('Enter your name again- ')

Enter your name- Hemmanth
Invalid name
Enter your name again- Satish
Enter your name- Satish
Invalid name
Enter your name again- Diwakar
Enter your name- Diwakar
Invalid name
Enter your name again- Vaishali
Enter your name- Vaishali
Hello Vaishali
You have successfully logged in.

In [37]:
user_name='Vaishali'

name=input('Enter your name- ')

while True:    
    if name==user_name:
        print(f'Hello {name}')
        print('You have successfully logged in.')
        break
    else:
        print('Invalid name')
        name=input()

Enter your name- Amit
Invalid name
Vaishali
Hello Vaishali
You have successfully logged in.

In [41]:
math=int(input('Enter the marks in Maths- '))
eng=int(input('Enter the marks in English- '))
sci=int(input('Enter the marks in Science- '))

total_marks = math + eng + sci 
percentage = (total_marks/300)*100
        
if percentage >=60:
    print("first division",percentage,"welldone")
    
elif percentage >=45:
        print("second division",percentage)
    
elif percentage >=33:
        print("third division",percentage)
else:
        print("fail")

Enter the marks in Maths- 32
Enter the marks in English- 32
Enter the marks in Science- 25
fail

In [44]:
# total marks*100/(3*100)

55.0
61.0
56.0