# Case_2
- By using tuple()

In [1]:
# tuple(iterale)- It returns a tuple

In [2]:
# Iterables- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [6]:
a='Hello'
print(a,type(a))
print(len(a))

t=tuple(a)
print(t,type(t))
print(len(t))

Hello <class 'str'>
5
('H', 'e', 'l', 'l', 'o') <class 'tuple'>
5

In [9]:
lst=[True, 'Python', 'Learnbay',(1,2,3,4,5), {1:100,2:200}, None]
print(lst,type(lst))

t=tuple(lst)
print(t,type(t))

[True, 'Python', 'Learnbay', (1, 2, 3, 4, 5), {1: 100, 2: 200}, None] <class 'list'>
(True, 'Python', 'Learnbay', (1, 2, 3, 4, 5), {1: 100, 2: 200}, None) <class 'tuple'>

In [12]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

t=tuple(d)
print(t,type(t))

t=tuple(d.values())
print(t,type(t))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
(1, 2, 3, 4) <class 'tuple'>
(100, 200, 300, 400) <class 'tuple'>

In [14]:
s={10,20,30,40,50}
print(s,type(s))

t=tuple(s)
print(t,type(t))

{50, 20, 40, 10, 30} <class 'set'>
(50, 20, 40, 10, 30) <class 'tuple'>

In [16]:
f=frozenset({10,20,30,40,50,60})
print(f,type(f))

t=tuple(f)
print(t,type(t))

frozenset({50, 20, 40, 10, 60, 30}) <class 'frozenset'>
(50, 20, 40, 10, 60, 30) <class 'tuple'>

In [18]:
r=range(5)
print(r,type(r))

t=tuple(r)
print(t,type(t))

range(0, 5) <class 'range'>
(0, 1, 2, 3, 4) <class 'tuple'>

In [19]:
t=tuple(range(1,11))
print(t,type(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

# Case-3
- By taking the input from the user

In [20]:
t=input('Enter a tuple- ')
print(t,type(t))

Enter a tuple- (1,2,3,4,5)
(1,2,3,4,5) <class 'str'>

In [21]:
len(t)

11

In [22]:
t

'(1,2,3,4,5)'

In [23]:
t=tuple(input('Enter a tuple- '))
print(t,type(t))

Enter a tuple- 12345
('1', '2', '3', '4', '5') <class 'tuple'>

In [24]:
t=tuple(input('Enter a tuple- '))
print(t,type(t))

Enter a tuple- Hello
('H', 'e', 'l', 'l', 'o') <class 'tuple'>

# eval()
- It evaluates the type of the value passed to the eval().
- Inside the quotations whatever value we pass it evaluates the type of that.

In [26]:
# Output- ('Hello' 'Python')

t=eval(input('Enter a tuple- '))
print(t,type(t))

Enter a tuple- ("Hello","Python")
('Hello', 'Python') <class 'tuple'>

In [27]:
t=eval(input('Enter a tuple- '))
print(t,type(t))

Enter a tuple- (10,20,30,40,50)
(10, 20, 30, 40, 50) <class 'tuple'>

In [1]:
t=input('Enter a tuple- ')
t

Enter a tuple- 123455

'123455'

In [34]:
a=eval('(10,20,30,40,50)')
print(type(a))

<class 'tuple'>

In [31]:
a=eval('(10,20,30,40,50)')
print(type(a))

<class 'tuple'>

In [36]:
a=(1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [41]:
a=eval('(1,2)')
print(type(a))

<class 'tuple'>

In [49]:
eval('(1,2,3)')

(1, 2, 3)

# Creating a tuple of single element

In [50]:
# - When we pass a single element inside the () then it is not a tuple but the element itself.
# - To convert it into a tuple we have put comma after the element.

In [51]:
a=(5)
print(type(a))

<class 'int'>

In [52]:
a=(5.5)
print(type(a))

<class 'float'>

In [53]:
a=('Hello')
print(type(a))

<class 'str'>

In [56]:
a=(5,)
print(type(a))
print(len(a))

<class 'tuple'>
1

In [58]:
a=(5.5,)
print(type(a))

<class 'tuple'>

In [60]:
a=('Hello',)
print(type(a))

<class 'tuple'>

# We can create a tuple without using ()

- When we assign multiple values to a single variable then Python by default stores them in a tuple.

In [63]:
a=10,20,30,40,50
print(a,type(a))

(10, 20, 30, 40, 50) <class 'tuple'>

# Packing and Unpacking

# Packing

- Assigning multiple values to a single variable is known as packing.
- In Python tuple supports packing

In [64]:
emp_details='Surendra',25,'Pune',55000
print(emp_details,type(emp_details))

('Surendra', 25, 'Pune', 55000) <class 'tuple'>

In [67]:
# emp_details[1]

# Unpacking

In [68]:
# Assigning values to multiple variables from a single variable is known as unpacking

In [70]:
name,age,city,sal=emp_details

In [71]:
name

'Surendra'

In [72]:
age

25

In [73]:
city

'Pune'

In [74]:
sal

55000

In [75]:
emp_details

('Surendra', 25, 'Pune', 55000)

In [76]:
a,b,c=emp_details

ValueError: too many values to unpack (expected 3)

In [77]:
a,b,c,d,e=emp_details

ValueError: not enough values to unpack (expected 5, got 4)

In [78]:
a,b,c,d=emp_details

In [79]:
emp_details

('Surendra', 25, 'Pune', 55000)

In [80]:
a

'Surendra'

In [81]:
b

25

In [82]:
c

'Pune'

In [83]:
d

55000

In [84]:
a=5
print(a,type(a))

5 <class 'int'>

In [85]:
a=5,5
print(a,type(a))

(5, 5) <class 'tuple'>

In [87]:
a=5,
print(a,type(a))

(5,) <class 'tuple'>

In [88]:
lst=[10,20,30,40]

In [89]:
a=lst[0]
b=lst[1]
c=lst[2]
d=lst[3]

In [91]:
a

10

In [92]:
b

20

In [93]:
c

30

In [94]:
d

40

In [95]:
a,b,c,d=[10,20,30,40]

In [96]:
a

10

In [97]:
b

20

In [98]:
c

30

In [99]:
d

40

# Creating a tuple using loop

In [113]:
# Create a tuple of even numbers from 2 to 20

t=()
# print(t)

for i in range(2,21,2):
    t=t+(i,)
    print(t,id(t))
    
# print(t)

(2,) 1881253817984
(2, 4) 1881264166336
(2, 4, 6) 1881256478912
(2, 4, 6, 8) 1881265103632
(2, 4, 6, 8, 10) 1881219496592
(2, 4, 6, 8, 10, 12) 1881265068736
(2, 4, 6, 8, 10, 12, 14) 1881263479104
(2, 4, 6, 8, 10, 12, 14, 16) 1881220923168
(2, 4, 6, 8, 10, 12, 14, 16, 18) 1881220922944
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20) 1881259230016

In [105]:
t=(5,6)
t=t+(2,2)
t

(5, 6, 2, 2)

In [108]:
t=(5,6)
t=t+(2,)
t

(5, 6, 2)

# Tuple Methods

In [114]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [115]:
# 'count', 'index'

# count
- It counts the number of occurences of an element inside a tuple.

In [121]:
t=(10,20,30,50,10,60,20,40,50,30,80)

print(t.count(10))
print(t.count(50))
print(t.count(30))
print(t.count(60))
print(t.count(100))

2
2
2
1
0

# index
- It returns the index of the first occurence from left to right.
- If the element is not found then it throws value error.

In [124]:
# t.index(element)
# t.index(element,start_index)
# t.index(element,start_index,stop_index)

In [2]:
t=(10,20,30,50,10,60,20,40,50,30,80)

print(t.index(20))
print(t.index(20,2))
0
print(t.index(90))

1
6
9

ValueError: tuple.index(x): x not in tuple

# Dictionary

- A dictionary is a collection of key:value pairs kept inside the {}
- Each key:value pair is known as an element or item of a dictionary.
- Keys should not be duplicated  whereas values can be duplicated.
- If we have duplicate keys then the key is updated with the latest value.

In [128]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [130]:
d={1:100,2:200,3:300,1:400,2:None}
print(d)

{1: 400, 2: None, 3: 300}

In [131]:
d={1:100,2:100,3:100,4:100}
print(d,type(d))

{1: 100, 2: 100, 3: 100, 4: 100} <class 'dict'>

- A dictionary is a container that can contain multiple elements.
- A doctionary is not an ordered collection of data because it does not follow the indexing  method.
- In a dictionary values are mapped to keys and we can access any value by using the key.
- It is also called no sequence because indexing is not applicable.
- On a dictionary we can apply length operation.
- **Note-** Concatenation, Repetition , Indexing and slicing are not applicable.

In [133]:
emp={'Name':'Pooja','Age':22,'ID':101,'City':'Dehradun','Company':'Infosys'}
print(emp)

{'Name': 'Pooja', 'Age': 22, 'ID': 101, 'City': 'Dehradun', 'Company': 'Infosys'}

In [134]:
emp[0]

KeyError: 0

# How to access a value on the basis of keys

In [136]:
# d[key]
# - For any invalid key it raises key error

In [137]:
emp={'Name':'Pooja','Age':22,'ID':101,'City':'Dehradun','Company':'Infosys'}
print(emp)

{'Name': 'Pooja', 'Age': 22, 'ID': 101, 'City': 'Dehradun', 'Company': 'Infosys'}

In [140]:
print(emp['Name'])

Pooja

In [141]:
emp['City']

'Dehradun'

In [144]:
emp['Age']

22

In [145]:
emp['Company']

'Infosys'

In [146]:
{1:100,2:200}+{3:300,4:400}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [147]:
{1:100,2:200}*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [148]:
emp

{'Name': 'Pooja',
 'Age': 22,
 'ID': 101,
 'City': 'Dehradun',
 'Company': 'Infosys'}

In [149]:
len(emp)

5

# How to create a dictionary

# Case_1
- When we already know the elements

In [151]:
emp={'Name':'Surendra','ID':None,'City':'Pune','Company':'TCS'}
print(emp,type(emp))

{'Name': 'Surendra', 'ID': None, 'City': 'Pune', 'Company': 'TCS'} <class 'dict'>

# Case_2
- Using dict()

In [152]:
# dict(iterable)

- The iterable that we pass inside the dict() should have one more iterable inside it.
- The inner iterable should have two elements. The first element becomes the key and the second element becomes the value in the dictionary.

In [153]:
# list of lists
# list of tuples
# tuple of llists
# tuple of tuples

In [164]:
# {'Name':'Sairam','Age':22}

print(dict([['Name','Sairam'],['Age',22]]))
print(dict([('Name','Sairam'),('Age',22)]))

{'Name': 'Sairam', 'Age': 22}
{'Name': 'Sairam', 'Age': 22}

In [159]:
# dict(['abc'])

In [170]:
# {'Name':'Sairam'}

dict((['Name','Sairam'],('Age',22)))

{'Name': 'Sairam', 'Age': 22}

In [175]:
dict((('Name','Sairam'),('Age',22)))

{'Name': 'Sairam', 'Age': 22}

# By using enumerate() inside the dict()

# enumerate()
- It takes an iterable as an argument.
- It returns an enumerate object.
- To fetch the values from an enumerate object we can pass it to the list(), tuple() or dict().
- It maps the elements of the iterable one by one from 0 to len(iterable)-1.

In [179]:
a='Python'
e=enumerate(a)
print(e)
print(list(e))

<enumerate object at 0x000001B60392C540>
[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [180]:
a='Python'
e=enumerate(a)
print(e)

print(tuple(e))

<enumerate object at 0x000001B60398DD00>
((0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'))

In [181]:
print(id(e))

1881256025344

In [183]:
int(0x000001B60398DD00)

1881256025344

In [185]:
a='Python'
e=enumerate(a)
print(e)

dict(e)

<enumerate object at 0x000001B603991840>

{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [188]:
# Create a dictionary where the indexes of the list are the keys and the elements of the list are the values
# Output- {0:True, 1:'Python',2:10,3:(1,2,3),4:False,5:None}

lst=[True, 'Python', 10, (1,2,3,4,5), False, None]

dict(enumerate(lst))

{0: True, 1: 'Python', 2: 10, 3: (1, 2, 3, 4, 5), 4: False, 5: None}

# zip()

- It takes two or more iterables as arguments.
- It maps the all the elements of all the iterables one by one sequence and returns a zip object.
- To fetch the values we can pass the zip object to list(), tuple(), dict()
- **Note-** While creating a dictionary the zip() should have only two iterables.

In [191]:
a='abcde'
lst=[10,20,30,40,50]

z=zip(a,lst)
z
list(z)

[('a', 10), ('b', 20), ('c', 30), ('d', 40), ('e', 50)]

In [192]:
a='abcde'
lst=[10,20,30,40,50]

z=zip(a,lst)
z
tuple(z)

(('a', 10), ('b', 20), ('c', 30), ('d', 40), ('e', 50))

In [193]:
a='abcde'
lst=[10,20,30,40,50]

z=zip(a,lst)
z
dict(z)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [194]:
a='abcde'
lst=[10,20,30,40]

z=zip(a,lst)
z
list(z)

[('a', 10), ('b', 20), ('c', 30), ('d', 40)]

In [195]:
a='ab'
lst=[10,20,30,40,50]

z=zip(a,lst)
z
list(z)

[('a', 10), ('b', 20)]

In [199]:
a='abcd'
b=[10,20,30,40]
c=(1000,2000,3000,4000)
d=['Pragya','Sairam','Surendra','Priya']
list(zip(a,b,c,d))

[('a', 10, 1000, 'Pragya'),
 ('b', 20, 2000, 'Sairam'),
 ('c', 30, 3000, 'Surendra'),
 ('d', 40, 4000, 'Priya')]

In [200]:
a='abcd'
b=[10,20,30,40]
c=(1000,2000,3000,4000)
d=['Pragya','Sairam','Surendra','Priya']
tuple(zip(a,b,c,d))

(('a', 10, 1000, 'Pragya'),
 ('b', 20, 2000, 'Sairam'),
 ('c', 30, 3000, 'Surendra'),
 ('d', 40, 4000, 'Priya'))

In [202]:
a='abcd'
d=['Pragya','Sairam','Surendra','Priya']
dict(zip(a,d))

{'a': 'Pragya', 'b': 'Sairam', 'c': 'Surendra', 'd': 'Priya'}

In [207]:
# Create a dictionary where countries are the keys and their capitals are the values

countries=['India','China','Vietnam','Indonesia','UK']
capitals=["Delhi",'Beijing','Hanoi','Jakarta','London']

d=dict(zip(countries,capitals))
print(d)

{'India': 'Delhi', 'China': 'Beijing', 'Vietnam': 'Hanoi', 'Indonesia': 'Jakarta', 'UK': 'London'}

In [211]:
names=["Tejasvi",'Vishnu','Santosh','Aniket']
ranks=[1,2,3,4]

# Rank should be the keys and names should be the values

dict(zip(ranks,names))

{1: 'Tejasvi', 2: 'Vishnu', 3: 'Santosh', 4: 'Aniket'}

# By taking the input from the user