# Nested if....else statement

When we have an if statement with in another if statement then it is known as nested if statement.

In [ ]:
if condition:
    code_1
    if condition:
        code_2
        if condition:
            code_3
        else:
            code_4
    else:
        code_5
else:
    code_6

In [1]:
# If a student scores 90 or more than 90 marks in all the three subjects (Maths, English and Science) then it should say well done.
# If the students scores < 90 marks in any subject then it should say try again.

In [5]:

math=int(input('Enter the marks in Maths- '))
eng=int(input('Enter the marks in English- '))
sci=int(input('Enter the marks in Science- '))

if math>=90:
    if eng>=90:
        if sci>=90:
            print('Well done')
        else:
            print('Try again in Science')
    else:
        print('Try again in English')
else:
    print('Try again in Maths')

Enter the marks in Maths- 50
Enter the marks in English- 50
Enter the marks in Science- 50
Try again in Maths

In [6]:
# math=int(input('Enter the marks in Maths- '))
# eng=int(input('Enter the marks in English- '))
# sci=int(input('Enter the marks in Science- '))

# mm=100
# # Calculate the percentage
# First division if the percentage is 60 or more than 60
# Second division if the percentage is between 45 and 59
# Third division if the percentage is between 33 and 44
# Fail if the percentage is less than 33

In [14]:
# Take an alphabet from the user and check whether it is a vowel or consonant
vowels='AEIOUaeiou'

a='z'
if a.isalpha():
    if a in vowels:
        print('Vowel')
    else:
        print('Consonant')
else:
    print('The character is not an alphabet')

Consonant

In [12]:
'i'.isalpha()

True

# Number System

In [17]:
# Decimal- 0-9 - Base=10
# Binary- 0,1 - Base=2
# Octal- 0-7 - Base=8
# Hexadecimal- 0-15 - Base= 16

# Hexadecimal- 0-9
# 10- A
# 11- B
# 12- C
# 13- D
# 14- E
# 15- F

# 0b- Binary representation
# 0o- Octal representation
# 0x- Hexadecimal  representation

In [16]:
# decimal- int()
# Binary- bin()
# Octal- oct()
# hexadecimal- hex()

In [18]:
a=50 #(Octal value)
# Convert it into int

int(0o50)

40

In [25]:
a=0b101010101 # binary
# Convert to decimal
int(a)

341

In [26]:
# Convert the above binary to octal
oct(a)

'0o525'

In [27]:
hex(a)

'0x155'

In [33]:
int(0xF)

15

In [38]:
int(0xabcadfe1516326154)

198063242953717080404

In [36]:
ord('A')

65

# Operator Precedence

In [39]:
50 and 60+20*9/2**3

82.5

In [ ]:
()	Parentheses
**	Exponent
+x, -x, ~x	Unary plus, Unary minus, Bitwise NOT
*, /, //, %	Multiplication, Division, Floor division, Modulus
+, -	Addition, Subtraction
<<, >>	Bitwise shift operators
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==, !=, >, >=, <, <=, is, is not, in, not in	Comparisons, Identity, Membership operators
not	Logical NOT
and	Logical AND
or	Logical OR

In [53]:
10+(10*32)//2**5&20+(~(-10))<<2

20

In [47]:
(10+320//2**5&20+(9)<<2)

(10+320//32&20+9<<2)

(10+10&20+9<<2)

20&29<<2

20&116

20

In [45]:
~-10 # ~num=-(num+1)

9

In [46]:
29<<2

116

In [48]:
20&116

20

In [50]:
bin(20),bin(116)

('0b10100', '0b1110100')

In [51]:
# 0010100
# 1110100
# 0010100

In [52]:
int(0b10100)

20

# Loop
- Loop is a concept that we use to execute a of code repeteadly.

In [55]:
# Print Hello 5 times
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello
Hello
Hello

In [58]:
print('Hello\n'*5)

Hello
Hello
Hello
Hello
Hello

In [65]:
my_str='Python'

print(my_str[0])
print(my_str[1])
print(my_str[2])
print(my_str[3])
print(my_str[4])
print(my_str[5])

P
y
t
h
o
n

# Types

- for loop
- while loop

# for loop
- It is always applied on an iterable.

In [ ]:
for variable in iterable:
    code_1
    code_2
code_3

In [66]:
# Iterables- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [68]:
for i in iterable:
    code
# # i will point out each element of the iterable one by one.

In [70]:
my_str='Python class'

for i in my_str:
    print(i)

P
y
t
h
o
n

c
l
a
s
s

In [74]:
lst=[10,20,30,40,50,60]

for x in lst:
    print(x)

10
20
30
40
50
60

# Iteration

- Traversing upon the elements of an iterable from the beginning to the end is known as iteration.
- The number of iterations are equal to the number of elements in the iterable.

In [75]:
t=(True, 'Python', {1,2,3}, 50, 10+20j)

for i in t:
    print(i)

True
Python
{1, 2, 3}
50
(10+20j)

In [76]:





d={1:100,2:200,3:300,4:400}
print(d,type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [77]:
for i in d:
    print(i)

1
2
3
4

In [79]:

for i in d.values():
    print(i)

100
200
300
400

In [81]:
emp={'name':'Raghvendra','age':26,'city':'Mumbai','company':'TCS'}
print(emp,type(emp))

{'name': 'Raghvendra', 'age': 26, 'city': 'Mumbai', 'company': 'TCS'} <class 'dict'>

In [82]:
for i in emp:
    print(i)

name
age
city
company

In [83]:
for i in emp.values():
    print(i)

Raghvendra
26
Mumbai
TCS

In [87]:
for i in emp.items():
    print(i)

('name', 'Raghvendra')
('age', 26)
('city', 'Mumbai')
('company', 'TCS')

In [86]:
s={10,20,30,40,50}
print(s)
for i in s:
    print(i)

{50, 20, 40, 10, 30}
50
20
40
10
30

In [89]:
f=frozenset([1,2,3,4,5,6])
print(f)
for i in f:
    print(i)

frozenset({1, 2, 3, 4, 5, 6})
1
2
3
4
5
6

In [91]:
for i in range(1,5):
    print(i)

1
2
3
4

In [92]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [95]:
for i in 10.5+2j:
    print(i)

TypeError: 'complex' object is not iterable

In [98]:
for i in range(5):
    print('Hello')
print('Thanks')

Hello
Hello
Hello
Hello
Hello
Thanks

In [104]:
for i in range(2):
    print('Hello')
    print('I am from HBD')
    print()

Hello
I am from HBD

Hello
I am from HBD

In [108]:
# Add all the elements from the following list

lst=[10,20,30,40,50,60,70,80,90,100]
s=0
for i in lst:
    s=s+i
    print(s)

10
30
60
100
150
210
280
360
450
550

In [109]:
# s=0
# i=10
# s=0+10=10

# s=10
# i=20
# s=10+20=30

# s=30
# i=30
# s=30+30=60

# s=60
# i=40
# s=60+40=100

In [110]:
# Add all the elements from the following list

lst=[10,20,30,40,50,60,70,80,90,100]
s=0
for i in lst:
    s=s+i
print(s)

550

In [111]:
my_str='Python' # [0,1,2,3,4,5]

# Print all the indexes of the above string

In [114]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [113]:
len(my_str)

6

In [118]:
for i in range(len(my_str)):
    print(i,my_str[i])

0 P
1 y
2 t
3 h
4 o
5 n

In [116]:
my_str[0]

'P'

In [146]:
my_str='Python' # [5,4,3,2,1,0]

# Reverse the above string using loop

for i in range(5,-1,-1):
    print(i,my_str[i])

5 n
4 o
3 h
2 t
1 y
0 P

In [6]:
my_str='Python' # [5,4,3,2,1,0]
for i in range(len(my_str)-1,-1,-1):
    print(i,my_str[i])

5 n
4 o
3 h
2 t
1 y
0 P

In [135]:
my_str='Python' # [-1,-2,-3,-4,-5,-6]

# Reverse the above string using loop
for i in range(-1,-7,-1):
    print(i,my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [143]:
for i in range(-1,-len(my_str)-1,-1):
    print(i,my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [144]:
-(len(my_str)+1)

-7

In [151]:
lst=[10,20,30,40,50,60,70,80]

# Print every alternate element of the list using loop

for i in range(0,len(lst),2):
    print(lst[i])

10
30
50
70

In [154]:
lst=[10,20,30,40,50,60,70,80]

# Print every alternate element in reverse order of the list using loop
# Output- [80,60,40,20]

for i in range(len(lst)-1,-1,-2):
    print(lst[i])

80
60
40
20

In [157]:
my_str='Peter Piper picked a pack of pickeled peppers'

# Count all the P
c=0

for i in my_str:
    if i=='P':
        c+=1 # c=c+1
print(c)

2

In [161]:
my_str='Peter Piper picked a pack of pickeled peppers'

# Count all the p

c=0

for i in my_str:
    if i=='p':
        c+=1
print(c)

7

In [1]:
my_str='Peter Piper picked a pack of pickeled peppers'

# Count all the p and P
c=0
for i in my_str:
    if i=='p' or i=='P':
        c=1
print(c)

1

In [168]:
my_str='Peter Piper picked a pack of pickeled peppers'

# Get the indexes of all the P's

for i in range(len(my_str)):
    if my_str[i]=='P':
        print(i)

0
6

In [175]:
my_str='Peter Piper picked a pack of pickeled peppers'

# Get the indexes of all the P and p

for i in range(len(my_str)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [187]:
for char in range(len(my_str)):
    if my_str[i]=='P' or my_str[i]=='p':
        print(i)

0
6
8
12
21
29
38
40
41

In [177]:
len(my_str)

45

In [180]:
my_str[44]

's'

In [188]:
# Loop
# While loop

In [189]:
# w3schools.com

In [1]:
# Maths=int(input('Enter the marks in Maths- '))
# Eng=int(input('Enter the marks in English- '))
# Sci=int(input('Enter the marks in Science - '))

# if Maths>=90:
#     if Eng>=90:
#         if Sci>=90:
#             print('Well Done')
#         else:
#             print('Try again in Science')
#     else:
#         print('Try again in English')
# else:
#     print('Try again in Maths')