# Case_3
- By taking the input from the user

In [1]:
d=input('Enter a dictionary- ')
print(d,type(d))

Enter a dictionary- {1:100,2:200}
{1:100,2:200} <class 'str'>

In [2]:
len(d)

13

In [6]:
for i in d:
    print(i)

{
1
:
1
0
0
,
2
:
2
0
0
}

In [9]:
# d=dict(input('Enter a dictionary- '))
# print(d,type(d))

# eval()

In [10]:
a=eval('{1,2,3}')
print(a,type(a))

{1, 2, 3} <class 'set'>

In [11]:
a=eval('{1:100,2:200,3:300,4:400}')
print(a,type(a))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [12]:
d=eval(input("Enter a dictionary- "))
print(d,type(d))

Enter a dictionary- {1:100,2:200}
{1: 100, 2: 200} <class 'dict'>

In [17]:
keys=[]
vals=[]

for i in range(4):
    a=eval(input('Enter a key- '))
    keys.append(a)
    
    b=eval(input('Enter the value- '))
    vals.append(b)
d=dict(zip(keys,vals))

print(d)

Enter a key- 1
Enter the value- 100
Enter a key- 2
Enter the value- 200
Enter a key- 3
Enter the value- 300
Enter a key- 4
Enter the value- 400
{1: 100, 2: 200, 3: 300, 4: 400}

In [18]:
keys

[1, 2, 3, 4]

In [19]:
vals

[100, 200, 300, 400]

In [2]:
a=5

In [3]:
a

5

In [6]:
lst=[]

In [7]:
print(lst,type(lst))

[] <class 'list'>

In [8]:
lst.append(50)

In [9]:
lst

[50]

In [19]:
# Create a new string that has only the vowels from the following string

my_str='Python class'
res=''

for x in my_str:
    if x in 'AEIOUaeiou':
        res+=x
print(res)

oa

# Case_4
- By using dictionary comprehension

- It is the easy way to create a dictionary using loop.

In [21]:
# {for loop}- dictionary comprehension
# {key:value for loop}

In [25]:
# Create a dictionary where the numbers from 1 to 10 are the keys and their squares are the values

# {1:1,2:4,3:9,4:16,5:25,6:36,7:49,8:64,9:81,10:100}

d={i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
# Create a dictionary where the numbers from 1 to 10 are the values and their squares are the keys

{i**2:i for i in range(1,11)}

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [28]:
# {key:value for loop if condition (option)}

In [32]:
# Create a dictionary where the keys are the numbers divisible by 3 but not divisible by 5 from 1 to 20 
# and their cubes are the values.

d={i:i**3 for i in range(1,21) if i%3==0 and i%5!=0}
print(d)

{3: 27, 6: 216, 9: 729, 12: 1728, 18: 5832}

In [37]:
# {ternary operator for loop}

# Create a dictionary where the numbers from 1 to 10 are the keys and 
# the values are the squares of the even keys and the cubes of the odd keys

# {1:1,2:2,3:27,4:16,5:125,6:36,7:343,8:64,9:729,10:100}

{i:i**2 if i%2==0 else i**3 for i in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [40]:
# Create a dictionary where the numbers from 1 to 10 are the values and 
# the keys are the squares of the even values and the cubes of the odd values

{i**2 if i%2==0 else i**3:i for i in range(1,11)}

{1: 1, 4: 2, 27: 3, 16: 4, 125: 5, 36: 6, 343: 7, 64: 8, 729: 9, 100: 10}

In [ ]:
# d[key]=value

In [55]:
# Using loop
# {1:1,2:2,3:27,4:16,5:125,6:36,7:343,8:64,9:729,10:100}
d={}

for i in range(1,11):
    if i%2==0:
        d[i]=i**2
    else:
        d[i]=i**3
print(d)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [56]:
# Using loop
d={}

for i in range(1,11):
    if i%2==0:
        d[i**2]=i
    else:
        d[i**3]=i
print(d)

{1: 1, 4: 2, 27: 3, 16: 4, 125: 5, 36: 6, 343: 7, 64: 8, 729: 9, 100: 10}

In [46]:
# {1:100}
d={}
print(d,type(d))

{} <class 'dict'>

In [48]:
d[1]=100

In [49]:
d

{1: 100}

In [50]:
d[2]

KeyError: 2

In [51]:
d[2]=None

In [52]:
d

{1: 100, 2: None}

In [53]:
# d[key]=value

In [57]:
# {key:value for loop}

In [66]:
{i:'Suraj' for i in range(1,6)}

{1: 'Suraj', 2: 'Suraj', 3: 'Suraj', 4: 'Suraj', 5: 'Suraj'}

In [70]:
# Create a dictionary where the letters from A to Z are the keys and their ASCII values are the values

# A- 65
# Z- 90

# ord('A')-> 65
# chr(65)-> 'A'

{chr(i):i for i in range(65,91)}

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [72]:
{i:chr(i) for i in range(65,91)}

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [76]:
# Keys- ASCII
# values- Vowels from A-Z

{i:chr(i) for i in range(65,91) if chr(i) in 'AEIOU'}

{65: 'A', 69: 'E', 73: 'I', 79: 'O', 85: 'U'}

In [80]:
# Keys- ASCII
# values- Consonants from A-Z

{i:chr(i) for i in range(65,91) if chr(i) not in 'AEIOU'}

{66: 'B',
 67: 'C',
 68: 'D',
 70: 'F',
 71: 'G',
 72: 'H',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [81]:
# Create a dictionary using dictionary comprehension where the keys are the odd ASCII values between 80 to 100
# Values are the charcters at those ASCII values

In [82]:
# lst=[10,20,30,40,50,60]
# Keys= indexes of the elements from the above list
# Values= The elemnts available at those particular indexes

# We can map multiple values to a particular key

In [83]:
# emp_name
# emp_age
# emp_department

In [84]:
['Vaishali', 'Pooja','Aniket','Pragya','Sairam','Rajesh','Kannan']
[22,23,25,24,22,21,26]
['HR','Operations','Data','Marketing','HR','Data','Finance']

['HR', 'Operations', 'Data', 'Marketing', 'HR', 'Data', 'Finance']

In [85]:
emp_details={'emp_name':['Vaishali', 'Pooja','Aniket','Pragya','Sairam','Rajesh','Kannan'],
'emp_age':[22,23,25,24,22,21,26],
'emp_department':['HR','Operations','Data','Marketing','HR','Data','Finance']}

In [86]:
print(emp_details)

{'emp_name': ['Vaishali', 'Pooja', 'Aniket', 'Pragya', 'Sairam', 'Rajesh', 'Kannan'], 'emp_age': [22, 23, 25, 24, 22, 21, 26], 'emp_department': ['HR', 'Operations', 'Data', 'Marketing', 'HR', 'Data', 'Finance']}

In [87]:
emp_details['emp_name']

['Vaishali', 'Pooja', 'Aniket', 'Pragya', 'Sairam', 'Rajesh', 'Kannan']

In [88]:
emp_details['emp_age']

[22, 23, 25, 24, 22, 21, 26]

In [89]:
emp_details['emp_department']

['HR', 'Operations', 'Data', 'Marketing', 'HR', 'Data', 'Finance']

In [90]:
import pandas as pd

In [91]:
pd.DataFrame(emp_details)

   emp_name  emp_age emp_department
0  Vaishali       22             HR
1     Pooja       23     Operations
2    Aniket       25           Data
3    Pragya       24      Marketing
4    Sairam       22             HR
5    Rajesh       21           Data
6    Kannan       26        Finance

# Nested Dictionary

- A dictionary within another dictionary is known as dictionary.
- When a dictionary is mapped to a key of another dictionary then it is known  as nested dictionary.

In [93]:
# {key:{key:value}}

In [95]:
# emp_details
# name
# age
# ID
# Salary

In [98]:
emp_details={'emp_1':{'name':'Rajesh',
         'age':22,
         'ID':101,
         'Salary':45000},
 
 'emp_2':{'name':'Bhagyashree',
         'age':23,
         'ID':102,
         'Salary':48000},
 
 'emp_3':{'name':'Gaurav',
         'age':24,
         'ID':None,
         'Salary':50000},
}

In [99]:
print(emp_details)

{'emp_1': {'name': 'Rajesh', 'age': 22, 'ID': 101, 'Salary': 45000}, 'emp_2': {'name': 'Bhagyashree', 'age': 23, 'ID': 102, 'Salary': 48000}, 'emp_3': {'name': 'Gaurav', 'age': 24, 'ID': None, 'Salary': 50000}}

# How to access the values from a nested dictionary?

In [100]:
# d[key]

In [101]:
emp_details['emp_1']

{'name': 'Rajesh', 'age': 22, 'ID': 101, 'Salary': 45000}

In [103]:
emp_details['emp_2']

{'name': 'Bhagyashree', 'age': 23, 'ID': 102, 'Salary': 48000}

In [104]:
emp_details['emp_3']

{'name': 'Gaurav', 'age': 24, 'ID': None, 'Salary': 50000}

In [107]:
# Fetch the name of the emp_1

emp_details['emp_1']['name']

'Rajesh'

In [113]:
# ID of emp_3

print(emp_details['emp_3']['ID'])

None

In [114]:
# Assign 105 as ID to emp_3

In [117]:
emp_details['emp_3']['ID']=105

In [119]:
emp_details

{'emp_1': {'name': 'Rajesh', 'age': 22, 'ID': 101, 'Salary': 45000},
 'emp_2': {'name': 'Bhagyashree', 'age': 23, 'ID': 102, 'Salary': 48000},
 'emp_3': {'name': 'Gaurav', 'age': 24, 'ID': 105, 'Salary': 50000}}

# Dictionary is mutable

In [120]:
emp={'name': 'Rajesh', 'age': 22, 'ID': 101, 'Salary': 45000}
emp

{'name': 'Rajesh', 'age': 22, 'ID': 101, 'Salary': 45000}

In [121]:
# Change name=Tejasvi

In [123]:
# emp[key]=value

In [125]:
emp['name']='Tejasvi'

In [126]:
emp

{'name': 'Tejasvi', 'age': 22, 'ID': 101, 'Salary': 45000}

In [127]:
# ID=111

emp['ID']=111

In [128]:
emp

{'name': 'Tejasvi', 'age': 22, 'ID': 111, 'Salary': 45000}

In [130]:
# Salary=52000
emp['Salary']=52000

In [131]:
emp

{'name': 'Tejasvi', 'age': 22, 'ID': 111, 'Salary': 52000}

# How to add keys to a dictionary

In [132]:
# d[key]=value

In [133]:
# 'City'=Delhi

In [135]:
emp['City']='Delhi'

In [136]:
emp

{'name': 'Tejasvi', 'age': 22, 'ID': 111, 'Salary': 52000, 'City': 'Delhi'}

In [137]:
# Phone=1234567890

In [139]:
emp['Phone']=1234567890

In [140]:
emp

{'name': 'Tejasvi',
 'age': 22,
 'ID': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890}

In [141]:
# 'Department'=Data

In [143]:
emp['Department']='Data'

In [144]:
emp

{'name': 'Tejasvi',
 'age': 22,
 'ID': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890,
 'Department': 'Data'}

In [147]:
# {1:100,2:100,3:100,4:100}

d={}

for i in range(1,5):
    d[i]=100
print(d)

{1: 100, 2: 100, 3: 100, 4: 100}

In [149]:
# d[index/key]

In [150]:
emp

{'name': 'Tejasvi',
 'age': 22,
 'ID': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890,
 'Department': 'Data'}

In [151]:
# 'ID'-'Code'

In [157]:
keys=list(emp.keys())

In [158]:
for i in range(len(keys)):
    if keys[i]=='ID':
        keys[i]='Code'
print(keys)

['name', 'age', 'Code', 'Salary', 'City', 'Phone', 'Department']

In [160]:
dict(zip(keys,emp.values()))

{'name': 'Tejasvi',
 'age': 22,
 'Code': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890,
 'Department': 'Data'}

# How to apply loop on a dictionary

In [161]:
emp

{'name': 'Tejasvi',
 'age': 22,
 'ID': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890,
 'Department': 'Data'}

In [162]:
for i in emp:
    print(i)

name
age
ID
Salary
City
Phone
Department

In [164]:
emp['age']

22

In [168]:
for i in emp:
    print(emp[i])

Tejasvi
22
111
52000
Delhi
1234567890
Data

In [169]:
emp

{'name': 'Tejasvi',
 'age': 22,
 'ID': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890,
 'Department': 'Data'}

In [171]:
emp['Name']='Shubham'

In [172]:
emp

{'name': 'Tejasvi',
 'age': 22,
 'ID': 111,
 'Salary': 52000,
 'City': 'Delhi',
 'Phone': 1234567890,
 'Department': 'Data',
 'Name': 'Shubham'}

# How to iterate over a nested dictionary

In [173]:
# Dictionary
# Functions
# Modules
# Iterators and Generators
# File Handling
# Exception Handling
# Regex

# Numpy
# Pandas
# Matplotlib
# Seaborn

In [174]:
# Scikit learn
# Scipy
# SpaCy