In [27]:
# # Typecasting
# - dict()
# - set()
# - frozenset()
# - bool()
# -list()
# - tuple()
# - Input and putput functions

# dict()

- It returns a dictionary.
- It typecasts to a dictionary

In [4]:
# Iterable- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [3]:
# dict(Iterable)

- The iterable that we pass inside the dict() must have another iterable inside it.
- The inner iterable must have two elements (items). The first element becomes the key in the dictionary and the second element becomes the value in the dictionary.

In [5]:
# Output- {1:100}

In [6]:
d=dict([[1,100]])
print(d,type(d))

{1: 100} <class 'dict'>

In [7]:
dict([(1,100)])

{1: 100}

In [8]:
# Output- {'name':'Priya','ID':111}

In [11]:
d=dict([('name','Priya'),('ID',111)])
print(d,type(d))

{'name': 'Priya', 'ID': 111} <class 'dict'>

In [13]:
# I want 3 elements in the dictionary.

dict([(1,100),(2,200),(3,300)])

{1: 100, 2: 200, 3: 300}

In [14]:
dict((['name','Bhagyashreee'],['ID',101],['City','Delhi']))

{'name': 'Bhagyashreee', 'ID': 101, 'City': 'Delhi'}

In [15]:
# dict([[],[],[]])
# dict(((),(),()))
# dict([[],[],[]])

In [18]:
dict(['12'])

{'1': '2'}

In [22]:
dict((('name','Shubham'),('City','Noida')))

{'name': 'Shubham', 'City': 'Noida'}

In [23]:
dict([(1,100),(2,200),(3,300),(4,400)])
# [],[],[],[]

{1: 100, 2: 200, 3: 300, 4: 400}

# set()

- It returns a set.
- It typecats to a set

In [33]:
# set(iterable)

In [25]:
lst=[10,20,30,40,50]
print(lst,type(lst))

s=set(lst)
print(s,type(s))

[10, 20, 30, 40, 50] <class 'list'>
{40, 10, 50, 20, 30} <class 'set'>

In [29]:
a='helloworld!'
print(a,type(a))

helloworld! <class 'str'>

In [30]:
s=set(a)
print(s,type(s))

{'h', 'r', 'd', 'o', '!', 'w', 'l', 'e'} <class 'set'>

In [32]:
t=(1,2,3,4,5,6,7,8,4,5,6,2)
print(t,type(t))

s=set(t)
print(s,type(s))

(1, 2, 3, 4, 5, 6, 7, 8, 4, 5, 6, 2) <class 'tuple'>
{1, 2, 3, 4, 5, 6, 7, 8} <class 'set'>

In [36]:
a=5
print(a,type(a))

# set(a)

5 <class 'int'>

# list()
- It returns a list
- It typecats to a list

In [37]:
# list(iterable)

In [38]:
a='Python'
print(a,type(a))

Python <class 'str'>

In [41]:
lst=list(a)
print(lst,type(lst))

['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [44]:
t=(10,20,30,40,50,10,20,30,40,50)
print(t,type(t))

lst=list(t)
print(lst,type(lst))

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50) <class 'tuple'>
[10, 20, 30, 40, 50, 10, 20, 30, 40, 50] <class 'list'>

In [47]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

lst=list(d)
print(lst,type(lst))

lst=list(d.values())
print(lst,type(lst))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
[1, 2, 3, 4] <class 'list'>
[100, 200, 300, 400] <class 'list'>

In [50]:
emp={'name':'Aravind','Age':26,'Code':111,'City':'Chennai'}
print(emp,type(emp))

lst=list(emp)
print(lst,type(lst))

vals=list(emp.values())
print(vals,type(vals))

{'name': 'Aravind', 'Age': 26, 'Code': 111, 'City': 'Chennai'} <class 'dict'>
['name', 'Age', 'Code', 'City'] <class 'list'>
['Aravind', 26, 111, 'Chennai'] <class 'list'>

In [54]:
d={'a':'abc','b':'xyz'}
print(d,type(d))

print(list(d))
print(list(d.values()))

{'a': 'abc', 'b': 'xyz'} <class 'dict'>
['a', 'b']
['abc', 'xyz']

In [56]:
s={1,2,3,4,5}
print(s,type(s))

lst=list(s)
print(lst,type(lst))

{1, 2, 3, 4, 5} <class 'set'>
[1, 2, 3, 4, 5] <class 'list'>

In [66]:
s={'Hello',True,(1,2,3),10}
print(s)

print(list(s))

{True, 10, (1, 2, 3), 'Hello'}
[True, 10, (1, 2, 3), 'Hello']

In [58]:
f=frozenset([10,20,30,True,'Happy'])
print(f,type(f))

lst=list(f)
print(lst,type(lst))

frozenset({True, 'Happy', 10, 20, 30}) <class 'frozenset'>
[True, 'Happy', 10, 20, 30] <class 'list'>

In [60]:
r=range(10)
print(r,type(r))

lst=list(r)
print(lst,type(lst))

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] <class 'list'>

In [63]:
r=range(5,11)
print(r,type(r))

print(list(r))

range(5, 11) <class 'range'>
[5, 6, 7, 8, 9, 10]

In [77]:
print(list(range(5)))
print(set(range(5)))
# dict(range(5))

[0, 1, 2, 3, 4]
{0, 1, 2, 3, 4}

# tuple()

- It returns a tuple.
- It typecasts to a tuple.

In [67]:
# tuple(iterable)

In [68]:
# Iterable- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [78]:
a='Hello'
print(a,type(a))

Hello <class 'str'>

In [80]:
t=tuple(a)
print(t,type(t))

('H', 'e', 'l', 'l', 'o') <class 'tuple'>

In [81]:
lst=[True, False, 'Hello',50,10+20j, (1,2,3,4,5)]
print(lst,type(lst))

[True, False, 'Hello', 50, (10+20j), (1, 2, 3, 4, 5)] <class 'list'>

In [82]:
t=tuple(lst)
print(t,type(t))

(True, False, 'Hello', 50, (10+20j), (1, 2, 3, 4, 5)) <class 'tuple'>

In [83]:
d={1:100,2:200}
print(d,type(d))

{1: 100, 2: 200} <class 'dict'>

In [85]:
t=tuple(d)
print(t,type(t))

t=tuple(d.values())
print(t,type(t))

(1, 2) <class 'tuple'>
(100, 200) <class 'tuple'>

In [86]:
s={True, 'Hello', 50, 10+20j}
print(s,type(s))

{(10+20j), True, 50, 'Hello'} <class 'set'>

In [88]:
t=tuple(s)
print(t,type(t))

((10+20j), True, 50, 'Hello') <class 'tuple'>

In [89]:
f=frozenset([10,20,30,40,50,60,70,80,10,50,70,30,20])
print(f,type(f))

frozenset({70, 40, 10, 80, 50, 20, 60, 30}) <class 'frozenset'>

In [90]:
t=tuple(f)
print(t,type(t))

(70, 40, 10, 80, 50, 20, 60, 30) <class 'tuple'>

In [92]:
r=range(5)
print(r,type(r))

t=tuple(r)
print(t,type(t))

range(0, 5) <class 'range'>
(0, 1, 2, 3, 4) <class 'tuple'>

# frozenset()
- It returns a frozenset.
- It typecasts to a a frozenset

In [93]:
# frozenset(Iterable)

In [97]:
a='Hellollllll'
print(a,type(a))

Hellollllll <class 'str'>

In [98]:
f=frozenset(a)
print(f,type(f))

frozenset({'e', 'o', 'H', 'l'}) <class 'frozenset'>

In [99]:
lst=[1,3,5,5,4,7,8,9,5,4,6]
print(lst,type(lst))

[1, 3, 5, 5, 4, 7, 8, 9, 5, 4, 6] <class 'list'>

In [101]:
f=frozenset(lst)
print(f,type(f))

frozenset({1, 3, 4, 5, 6, 7, 8, 9}) <class 'frozenset'>

In [106]:
t=(True, 'Python',10)
print(t,type(t))

(True, 'Python', 10) <class 'tuple'>

In [109]:
f=frozenset(t)
print(f,type(f))

frozenset({True, 10, 'Python'}) <class 'frozenset'>

In [110]:
s={1,2,3,4,5,6,7,8,4,5,6,1,2,3,5}
print(s,type(s))

{1, 2, 3, 4, 5, 6, 7, 8} <class 'set'>

In [112]:
f=frozenset(s)
print(f,type(f))

frozenset({1, 2, 3, 4, 5, 6, 7, 8}) <class 'frozenset'>

In [113]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [114]:
f=frozenset(d)
print(f,type(f))

frozenset({1, 2, 3, 4}) <class 'frozenset'>

In [116]:
f=frozenset(d.values())
print(f,type(f))

frozenset({200, 100, 400, 300}) <class 'frozenset'>

In [117]:
d={1:100,2:100,3:100,4:100}
print(d,type(d))

{1: 100, 2: 100, 3: 100, 4: 100} <class 'dict'>

In [118]:
f=frozenset(d)
print(f,type(f))

frozenset({1, 2, 3, 4}) <class 'frozenset'>

In [119]:
f=frozenset(d.values())
print(f,type(f))

frozenset({100}) <class 'frozenset'>

In [120]:
r=range(1,6)
print(r,type(r))

range(1, 6) <class 'range'>

In [121]:
f=frozenset(r)
print(f,type(f))

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

# Input and Output functions

- Input functions are used to take the input from the user at run time.
- Output functions are used to print the output on the output area (console)

In [125]:
a=80
b=70

c=a+b
print(c)

150

# input()

- input() is used to take the input from the user at run time.
- input() always returns a string value.

In [126]:
# input('message')

In [127]:
a=input('Enter a number- ')
print(a,type(a))

Enter a number- 10
10 <class 'str'>

In [128]:
a

'10'

In [129]:
a=input('Enter a number- ')
b=input('Enter a number again- ')

c=a+b
print(c)

Enter a number- 10
Enter a number again- 20
1020

In [130]:
'10'+'20'

'1020'

In [132]:
a=input('Enter a number- ')
b=input('Enter a number again- ')

c=int(a)+int(b)
print(c)

d=int(b)-int(a)
print(d)

Enter a number- 5
Enter a number again- 3
8
-2

In [133]:
a=int(input('Enter a number- '))
print(a,type(a))

Enter a number- 5
5 <class 'int'>

In [1]:
a=int(input('Enter a number- '))
b=int(input('Enter a number again- '))

c=a+b
print(c)

Enter a number- 6
Enter a number again- 4
10

# print()

- print() is an output function in Python
- print() prints the output on the output area (console)

In [3]:
# print('message')- print the message
# print(variable)- print the value of the varaible

In [4]:
# print Hello in the output area

print('Hello')

Hello

In [8]:
a=10
# print the value of a in the output area

print('a')
print(a)

a
10

In [10]:
a=20
b=10
c=a+b
d=a-b

print(a,b,c,d)

20 10 30 10

In [8]:
a=10
b=20
c=a+b
d=a-b

print(a,b,c,d,sep='\n')

10
20
30
-10

In [2]:
# input('Enter a number')

In [1]:
print('Hello')

Hello

In [21]:
a=20
b=10
c=a+b
d=a-b

print(a,end='*')
print(b,end='*')
print(c,end='*')
print(d)

20*10*30*10

In [32]:
a=200
b=100
c=a+b

# Output- The result is 30

print('The result is ',c)

The result is  300

In [35]:
a=10
b=20
c=a+b

# Output- The addition of 10 and 20 is 30 

print(f'The addidtion of {a} and {b} is {c}')

The addidtion of 10 and 20 is 30

In [39]:
a=50
b=30
c=a+b
print(f'The addition of {a} and {b} is {c}')

The addition of 50 and 30 is 80

In [42]:
print('The addition of a and b is c',c)

The addition of a and b is c 80

In [41]:
print('The addition of {} and {} is {}'.format(a,b,c))

The addition of 50 and 30 is 80

# Keywords in Python

- Keywords are the reserved words in Python.
- These are already defined in Python and they carry some meaning.
- The keywords are used to perform some specific task.
- Keywords should not be used as variables.
- Usually the Pytthon keywords are printed in green colour.

In [43]:
# True, print(), int(), input(), if, from, with, import etc.

In [44]:
import keyword

In [46]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [50]:
# if=5

In [49]:
# True=5

# Comments in Python
- If we don't want a piece of code to be executed then we can comment that code.
- The code that we have commented will not get executed.

In [ ]:
# ctrl+/ is to comment a line

In [64]:
a=10
b=20
c=a+b
d=b-a
e=a*b
f=a/b
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

10
20
30
10
200
0.5

In [69]:
print('Hello')
print('Python')
print('Data Science')
print('Thanks')

Hello
Python
Data Science
Thanks

In [70]:
frozenset('Hello world')

frozenset({' ', 'H', 'd', 'e', 'l', 'o', 'r', 'w'})

# Operators

In [71]:
# - Operators are used to perform different kind of operations on different kind of values

In [73]:
# Arithmetic operators
# Logical Operartos
# Comparison Operators
# Equality Operators
# Assignment Operator
# Membership Operators
# Identity Operators
# Bitwise Operators
# Ternary Operator

# 1- Arithmetic Operators

- Arithmetic operators are used to perform arithmetic operation

In [86]:
# + addition
# - substraction
# * multiplication
# / float dibision (The result will be in decimal)
# // floor division (The result will be without decinal. )
# % modulo (It returns the remainder value after the floor divison)
# ** exponent (It is used to get the power)

In [76]:
a=5
b=3
c=a+b
print(c)

8

In [77]:
a=5
b=3
print(a-b)

2

In [78]:
a=5
b=3
print(a*b)

15

In [84]:
a=5
b=2

print(a/b) # float division
print(a//b) # floor division
print(a%b) # Remainder value

2.5
2
1

In [87]:
a=5
b=2

print(a**b) # (a raise to the power b)

25

In [91]:
print(10**2)
print(6**3)

100
216

In [93]:
print(6*6*6)

216

In [94]:
# age column- 28
# ratings- 4.2

In [95]:
# floor
# ceil 
# round

In [96]:
import math

In [99]:
# floor- Minimum possible value between two whole numbers
# ceil- Maximum possible value between two whole numbers

In [103]:
a=2.888888
print(a,type(a))
print(math.floor(a))
print(math.ceil(a))

2.888888 <class 'float'>
2
3

In [105]:
print(int(a))

2

In [113]:
a=2.88888
print(round(a))

a=2.2222
print(round(a))

3
2