# How to iterate over a nested dictionary

In [42]:
emp_details={'emp_1':{'Name':'Sairam',
                     'ID':101,
                      'Salary':55000,
                     'City':'Pune'},
            'emp_2':{'Name':'Rajesh',
                     'ID':102,
                      'Salary':56000,
                     'City':'Delhi'},
            'emp_3':{'Name':'Ganesh',
                     'ID':103,
                      'Salary':60000,
                     'City':'Chennai'},
            'emp_4':{'Name':'Aniket',
                     'ID':104,
                      'Salary':65000,
                     'City':'Bangalore'}}

In [2]:
emp_details

{'emp_1': {'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'},
 'emp_2': {'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'},
 'emp_3': {'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Chennai'},
 'emp_4': {'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}}

In [6]:
emp_details['emp_1']

{'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'}

In [5]:
for i in emp_details:
    print(i)

emp_1
emp_2
emp_3
emp_4

In [8]:
for i in emp_details:
    print(emp_details[i])

{'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'}
{'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'}
{'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Chennai'}
{'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}

In [9]:
# Names of all the employees

In [13]:
for i in emp_details:
    print(emp_details[i]['Name'])

Sairam
Rajesh
Ganesh
Aniket

In [20]:
# Names and the codes of all the employess

for i in emp_details:
    print(emp_details[i]['Name'],emp_details[i]['ID'])

Sairam 101
Rajesh 102
Ganesh 103
Aniket 104

In [31]:
# I want the ID of Rajesh

for i in emp_details:
    if emp_details[i]['Name']=='Rajesh':
        print(emp_details[i]['ID'])

102

In [43]:
# Change the city of Ganesh to Mumbai

for i in emp_details:
    if emp_details[i]['Name']=='Ganesh':
        emp_details[i]['City']='Mumbai'

In [44]:
emp_details

{'emp_1': {'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'},
 'emp_2': {'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'},
 'emp_3': {'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Mumbai'},
 'emp_4': {'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}}

# Dictionary Methods

In [39]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [45]:
# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

# keys()

- It returns a dict_keys object and the dict_keys object contains a list of the list keys from the dictionary.

In [46]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [47]:
d.keys()

dict_keys([1, 2, 3, 4])

In [49]:
emp_details.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4'])

# values()

- It returns a dict_values object. The dict_values object contains a list of the values from the dictionary.

In [50]:
d

{1: 100, 2: 200, 3: 300, 4: 400}

In [51]:
d.values()

dict_values([100, 200, 300, 400])

In [52]:
emp_details

{'emp_1': {'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'},
 'emp_2': {'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'},
 'emp_3': {'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Mumbai'},
 'emp_4': {'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}}

In [53]:
emp_details.values()

dict_values([{'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'}, {'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'}, {'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Mumbai'}, {'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}])

In [54]:
# Inner keys

In [57]:
emp_details['emp_1'].keys()

dict_keys(['Name', 'ID', 'Salary', 'City'])

In [60]:
emp_details['emp_1'].values()

dict_values(['Sairam', 101, 55000, 'Pune'])

In [63]:
for i in emp_details:
    print(emp_details[i].keys())

dict_keys(['Name', 'ID', 'Salary', 'City'])
dict_keys(['Name', 'ID', 'Salary', 'City'])
dict_keys(['Name', 'ID', 'Salary', 'City'])
dict_keys(['Name', 'ID', 'Salary', 'City'])

In [64]:
for i in emp_details:
    print(emp_details[i].values())

dict_values(['Sairam', 101, 55000, 'Pune'])
dict_values(['Rajesh', 102, 56000, 'Delhi'])
dict_values(['Ganesh', 103, 60000, 'Mumbai'])
dict_values(['Aniket', 104, 65000, 'Bangalore'])

# items()

- It returns a dict_items object. The dict_items object contains a list of tuples where every tuple has two elements.
- The first element in the tuple is the key and the second element is the value from the dictionary.

In [65]:
d

{1: 100, 2: 200, 3: 300, 4: 400}

In [66]:
d.items()

dict_items([(1, 100), (2, 200), (3, 300), (4, 400)])

In [67]:
dict([(1, 100), (2, 200), (3, 300), (4, 400)])

{1: 100, 2: 200, 3: 300, 4: 400}

In [69]:
for i in d.items():
    print(i)

(1, 100)
(2, 200)
(3, 300)
(4, 400)

In [76]:
x=(1,100)
x

(1, 100)

In [77]:
i,j=x
i

1

In [78]:
j

100

In [81]:
for i,j in d.items():
    print(i,j)
#     print(j)

1 100
2 200
3 300
4 400

In [83]:
for i in emp_details.items():
    print(i)

('emp_1', {'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'})
('emp_2', {'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'})
('emp_3', {'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Mumbai'})
('emp_4', {'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'})

In [85]:
for i,j in emp_details.items():
    print(i)
    print(j)

emp_1
{'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'}
emp_2
{'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'}
emp_3
{'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Mumbai'}
emp_4
{'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}

In [86]:
for i,j in emp_details.items():
    print(i)
    print(j.items())

emp_1
dict_items([('Name', 'Sairam'), ('ID', 101), ('Salary', 55000), ('City', 'Pune')])
emp_2
dict_items([('Name', 'Rajesh'), ('ID', 102), ('Salary', 56000), ('City', 'Delhi')])
emp_3
dict_items([('Name', 'Ganesh'), ('ID', 103), ('Salary', 60000), ('City', 'Mumbai')])
emp_4
dict_items([('Name', 'Aniket'), ('ID', 104), ('Salary', 65000), ('City', 'Bangalore')])

In [88]:
for i,j in emp_details.items():
    print(i)
    for x in j.items():
        print(x)
    print()

emp_1
('Name', 'Sairam')
('ID', 101)
('Salary', 55000)
('City', 'Pune')

emp_2
('Name', 'Rajesh')
('ID', 102)
('Salary', 56000)
('City', 'Delhi')

emp_3
('Name', 'Ganesh')
('ID', 103)
('Salary', 60000)
('City', 'Mumbai')

emp_4
('Name', 'Aniket')
('ID', 104)
('Salary', 65000)
('City', 'Bangalore')

In [96]:
for i,j in emp_details.items():
    print(j)
    for x,y in j.items():
        print(x,y)
    print()

{'Name': 'Sairam', 'ID': 101, 'Salary': 55000, 'City': 'Pune'}
Name Sairam
ID 101
Salary 55000
City Pune

{'Name': 'Rajesh', 'ID': 102, 'Salary': 56000, 'City': 'Delhi'}
Name Rajesh
ID 102
Salary 56000
City Delhi

{'Name': 'Ganesh', 'ID': 103, 'Salary': 60000, 'City': 'Mumbai'}
Name Ganesh
ID 103
Salary 60000
City Mumbai

{'Name': 'Aniket', 'ID': 104, 'Salary': 65000, 'City': 'Bangalore'}
Name Aniket
ID 104
Salary 65000
City Bangalore

# update()

- It is used to update the elements of one dictionary to another dictionary.
- It is used to combine two dictionaries.

In [117]:
# d1.update(d2)
# The elements of dictionary d2 will be updated (added) to the dictionary d1
# update() takes a dictionary argument (input)

In [98]:
d={1:100,2:200}
d2={3:300,4:400}

In [99]:
d

{1: 100, 2: 200}

In [100]:
d2

{3: 300, 4: 400}

In [101]:
d.update(d2)

In [102]:
d

{1: 100, 2: 200, 3: 300, 4: 400}

In [103]:
d2

{3: 300, 4: 400}

In [104]:
d={1:100,2:200}
d2={1:300,2:400}

In [105]:
d

{1: 100, 2: 200}

In [107]:
d2

{1: 300, 2: 400}

In [108]:
d.update(d2)

In [109]:
d

{1: 300, 2: 400}

In [113]:
# Create a dictionary where the numbers from 1 to 10 are the keys and their squares are the values

d={}

for i in range(1,11):
    d[i]=i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [158]:
d={}
print(d)
for i in range(1,11,2):
    d.update({i:i**2})
    print(d)

{}
{1: 1}
{1: 1, 3: 9}
{1: 1, 3: 9, 5: 25}
{1: 1, 3: 9, 5: 25, 7: 49}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [126]:
d={}
print(d)
for i in range(1,11,2):
    t={i:i**2}
    d.update(t)
    print(d)

{}
{1: 1}
{1: 1, 3: 9}
{1: 1, 3: 9, 5: 25}
{1: 1, 3: 9, 5: 25, 7: 49}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [118]:
d={}

In [119]:
t=

{}

In [123]:
d.update({10:20})

In [124]:
d

{10: 20}

In [122]:
{10:20}

{10: 20}

# pop()

- It returns the value at a  specified key from the dictionary and removes the element at that particular key from the dictionary.
- For any invalid key it raises the key error.

In [130]:
# d.pop(key)

In [133]:
d

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [134]:
d.pop(7)

49

In [135]:
d

{1: 1, 3: 9, 5: 25, 9: 81}

In [137]:
d.pop(3)

9

In [138]:
d

{1: 1, 5: 25, 9: 81}

In [139]:
d.pop(100)

KeyError: 100

In [142]:
# d.pop()

# popitem()

- It returns the last element and  removes it from the dictionary.

In [145]:
d

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [146]:
d.popitem()

(9, 81)

In [147]:
d

{1: 1, 3: 9, 5: 25, 7: 49}

In [148]:
d.popitem()

(7, 49)

In [149]:
d

{1: 1, 3: 9, 5: 25}

In [150]:
d.popitem()

(5, 25)

In [151]:
d

{1: 1, 3: 9}

In [152]:
d.popitem()

(3, 9)

In [153]:
d

{1: 1}

In [154]:
d.popitem()

(1, 1)

In [155]:
d

{}

In [157]:
# d.popitem()

In [159]:
d

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [171]:
d={}
print(d)
for i in range(1,11,2):
    t={i:i**2}
    d.update(t)
print(d)
print(len(d))

print(d.popitem())
print(d.popitem())
print(d.popitem())
print(d.popitem())
print(d.popitem())

{}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
5
(9, 81)
(7, 49)
(5, 25)
(3, 9)
(1, 1)

In [189]:
d={1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(d)

lst=[]
for i in range(len(d)):
#     lst+=[d.popitem()]
    lst.append(d.popitem())
    
print(lst)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
[(9, 81), (7, 49), (5, 25), (3, 9), (1, 1)]

In [186]:
dict(lst)

{9: 81, 7: 49, 5: 25, 3: 9, 1: 1}

In [166]:
# {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
# Output= {9:81,7:49,5:25,3:9,1:1}

# fromkeys()
- It is used to assign the same value to multiple keys

In [197]:
# dict.fromkeys(iterable,value)
# Iterable- It should contain the keys

In [191]:
names=['Rajesh','Jashobant','Komal','Priya','Srihri','Pooja']
# {'Rajesh':'Learnbay','Jashobant':'Lrearnbay'........'Pooja':'Learnbay'}

In [195]:
company={}

for i in names:
    company.update({i:'Learnbay'})
company

{'Rajesh': 'Learnbay',
 'Jashobant': 'Learnbay',
 'Komal': 'Learnbay',
 'Priya': 'Learnbay',
 'Srihri': 'Learnbay',
 'Pooja': 'Learnbay'}

In [200]:
company=dict.fromkeys(names,'Learnbay')
company

{'Rajesh': 'Learnbay',
 'Jashobant': 'Learnbay',
 'Komal': 'Learnbay',
 'Priya': 'Learnbay',
 'Srihri': 'Learnbay',
 'Pooja': 'Learnbay'}

# get()

- It takes a key as an argument and returns the value at that particular key.
- For any invalid key it returns None.

In [201]:
company

{'Rajesh': 'Learnbay',
 'Jashobant': 'Learnbay',
 'Komal': 'Learnbay',
 'Priya': 'Learnbay',
 'Srihri': 'Learnbay',
 'Pooja': 'Learnbay'}

In [202]:
company.get('Komal')

'Learnbay'

In [205]:
company.get('Srihri')

'Learnbay'

In [207]:
print(company.get(100))

None

In [208]:
company['Srihri']

'Learnbay'

In [209]:
company.get('Srihri')

'Learnbay'

In [210]:
company[100]

KeyError: 100

In [211]:
print(company.get(100))

None

# setdefault()

- It takes a key as an argument.
- If is already there in the dictionary then it returns the value at that particular key.
- If the key does not exist then it creates the and assigns it to None.
- We can pass key and value both.

In [219]:
names=['Rajesh','Jashobant','Komal','Priya','Srihri','Pooja']
cities=['Chennai','Bangalore','Noida','Mumbai','Hyderabad','Varanasi']

emp=dict(zip(names,cities))
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi'}

In [223]:
print(emp.setdefault('Komal'))
print(emp.setdefault('Rajesh'))

Noida
Chennai

In [224]:
emp.setdefault('Sairam')

In [225]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': None}

In [226]:
emp.setdefault('Diwaker')

In [227]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': None,
 'Diwaker': None}

In [229]:
# emp.setdefault(key,value)
# The new key will be assigned to the specified value

In [230]:
emp.setdefault('Purvi','Bangalore')

'Bangalore'

In [231]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': None,
 'Diwaker': None,
 'Purvi': 'Bangalore'}

In [232]:
emp.setdefault('Suraj','Chandigarh')

'Chandigarh'

In [233]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': None,
 'Diwaker': None,
 'Purvi': 'Bangalore',
 'Suraj': 'Chandigarh'}

In [234]:
emp.setdefault('Aniket')

In [235]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': None,
 'Diwaker': None,
 'Purvi': 'Bangalore',
 'Suraj': 'Chandigarh',
 'Aniket': None}

In [236]:
emp.setdefault('Sairam','Pune')

In [237]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': None,
 'Diwaker': None,
 'Purvi': 'Bangalore',
 'Suraj': 'Chandigarh',
 'Aniket': None}

In [238]:
emp['Sairam']='Pune'

In [239]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': 'Pune',
 'Diwaker': None,
 'Purvi': 'Bangalore',
 'Suraj': 'Chandigarh',
 'Aniket': None}

In [240]:
emp['Diwaker']='Delhi'

In [241]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': 'Pune',
 'Diwaker': 'Delhi',
 'Purvi': 'Bangalore',
 'Suraj': 'Chandigarh',
 'Aniket': None}

In [242]:
emp['Aniket']='Bangalore'

In [243]:
emp

{'Rajesh': 'Chennai',
 'Jashobant': 'Bangalore',
 'Komal': 'Noida',
 'Priya': 'Mumbai',
 'Srihri': 'Hyderabad',
 'Pooja': 'Varanasi',
 'Sairam': 'Pune',
 'Diwaker': 'Delhi',
 'Purvi': 'Bangalore',
 'Suraj': 'Chandigarh',
 'Aniket': 'Bangalore'}

In [244]:
emp['Priya']

'Mumbai'

In [245]:
emp.get('Priya')

'Mumbai'

In [246]:
emp.setdefault('Priya')

'Mumbai'

In [247]:
emp.setdefault()

TypeError: setdefault expected at least 1 argument, got 0

# clear()

- It removes all the elements from the dictionary and makes the dictionary empty.

In [251]:
company

{'Rajesh': 'Learnbay',
 'Jashobant': 'Learnbay',
 'Komal': 'Learnbay',
 'Priya': 'Learnbay',
 'Srihri': 'Learnbay',
 'Pooja': 'Learnbay'}

In [252]:
company.clear()

In [253]:
company

{}

# Python

# copy()
- It copies the elements from a dictionary and creates a new dictionary.

In [259]:
d={1:100,2:200,3:300,4:400}
d2=d
print(d)
print(d2)

d[1]=None
print(d)
print(d2)

print(id(d))
print(id(d2))

{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 200, 3: 300, 4: 400}
{1: None, 2: 200, 3: 300, 4: 400}
{1: None, 2: 200, 3: 300, 4: 400}
2193243293824
2193243293824

In [263]:
d={1:100,2:200,3:300,4:400}
d2=d.copy()

print(d)
print(d2)

d[1]=None
print(d)
print(d2)

print(id(d))
print(id(d2))

{1: 100, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 200, 3: 300, 4: 400}
{1: None, 2: 200, 3: 300, 4: 400}
{1: 100, 2: 200, 3: 300, 4: 400}
2193243277120
2193243294976

In [264]:
d

{1: None, 2: 200, 3: 300, 4: 400}

In [265]:
print(id(d))

2193243277120

In [266]:
print(id(d.keys()))

2193242825104

In [269]:
id(d[2])

2193142407824

In [271]:
d.pop(2)

200

In [272]:
d

{1: None, 3: 300, 4: 400}

In [273]:
id(d)

2193243277120